body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

.hero, .cta, .header, .footer {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

.hero h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.hero p, .header li {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
}

.hero {
    flex-direction: column;
    padding: 16px 128px;
    align-items: center;
}

.header {
    align-self: stretch;
}

.text {
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 50%;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    flex: 1 1 auto;
    max-height: 300px;
    min-height: 300px;
    gap: 48px;
}

.cta * {
    flex: 1 1 auto;
}

.hero img {
    min-width: 300px;
    max-height: 300px;
    flex-shrink: 0;
    flex-basis: auto;
}