body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

.hero, .cta, .header, .footer {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

.hero h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.hero p, .header li {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    height: 35px;
}

.hero {
    flex-direction: column;
    padding: 16px 200px;
    align-items: center;
}

.header {
    align-self: stretch;
}

.text {
    flex-direction: column;
    flex-wrap: wrap;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    flex: 1 1 auto;
    max-height: 300px;
    min-height: 300px;
    gap: 48px;
}

.cta * {
    flex: 1 1 auto;
}

.hero img {
    min-width: 30%;
    max-width: 30%;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 0;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.information h2 {
    margin: 48px 0px;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.cards img {
    border: 4px solid #3882F6;
    border-radius: 15px;
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-width: 200px;
}

.card p {
    flex-wrap: wrap;
    max-width: 200px;
    font-size: 18px;
    text-align: center;
}

.quote {
    margin: 48px 0;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    padding: 120px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote p {
    max-width: 75%;
    margin: 0px 0px;
}

.quote h5 {
    align-self: flex-end;
    padding-right: 15%;
    margin: 0px 0px;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0px 80px 0px;
}

.notification {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    border-radius: 10px;
    gap: 60px;
    color: white;
}

.notification-text h6 {
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    font-weight: 800px;
}

.notification-text p {
    margin: 0px;
    padding: 0px;
}

.notification button {
    border-color: white;
    border-style: solid;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}